@import 'variables';
.main-panel>.content {
    margin-top: 0px !important;
}

.card-title {
    display: inline;
}

.card-header{
    float: right;
}

.lp-label{
    font-size: $font-size-app;
}

.pagination{
    font-size: $font-size-app;
    .page-item{
        a{
            color: #3f51b5;
        }
    }  
    
    .disabled{
        a{
            color: #333;
        }
    }
}

.inline{
    display: inline;
}

.full-width{
    width: 100% !important;
}

.cust-icon{
    background: transparent;
    border: none;
}

.active-icon{
    color: #0099cc;
}

.custom-card{

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #4472c4;
    color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: $font-size-app !important;
    display: inline-block !important;
    // width: 31% !important;
    margin: 0px 0px !important;

    .card-header{
        padding: 0.75rem 0.75rem !important;
        font-size: $font-size-app;
        p {
            margin-bottom: 4px;
        }
    }
  }

  .card-body{
      padding: 0.35rem 20px !important;
  }

  .custom-card-wrapper{
    // width: 47%;
    float: right;
  }

  .half-width{
    width: 50%;
  }

  .indent-bottom{
    padding-bottom: 5px;
  }

  .remove-padding-top{
      padding-top: 0px !important;
  }

  .remove-padding-bottom{
    padding-bottom: 0px !important;
}

.tips-message
{
    color:red;
    height:30px;
}
