
// Fonts
$fa-font-path: '/fonts/vendor/font-awesome';
@import "node_modules/font-awesome/scss/font-awesome";
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dark-edition{
  background-color: #e8ebf5;
  font-size: $font-size-app;
}

.dark-edition .card{
  background:	#fefffdf6;
  // color: #fff;
}

.dark-edition .navbar:not([class*="bg-"]) .navbar-brand{
  color: #202020;
}


.dark-edition .sidebar{
  background: #202020;
  width: 11%;
  .sidebar-wrapper{
    width: 100%;
    .nav{
      width: 89%;
      .nav-link{
        width: 96%;
        p {
          font-size: $font-size-app;
          font-weight: bolder;
        }
      }
    }
  }
}
.main-panel{
  width: 90.5%;
}

.btn {
  padding: 0.25rem 1.1rem !important;
}

.card{
  margin-top: 0px !important;
}
.card .card-header-primary:not(.card-header-icon):not(.card-header-text){
  background:linear-gradient(60deg, #e8ebf5, #e8ebf5) !important;
  color: #3C4858 !important;
  h4{
    color: #3C4858 !important;
  }
}
.dark-edition .sidebar[data-color="purple"] li.active>a{
  background:linear-gradient(60deg, #e8ebf5, #e8ebf5) !important;
  color: #3C4858 !important;
}

.dark-edition .form-control{
  color: #333;
  font-size: $font-size-app;
}

.form-inline{
  label{
    font-size: $font-size-app;
  }
}

/** CUSTOM **/

.center-block{
  margin: auto auto;
}

.right-align{
  float: right;
}

.right-align{
  float: right;
}

.left-indent{
  margin-left: 10px !important;
}

.btn-len-md{
  width: 100px;
}

.no-margin{
  margin: 0px;
}

.margin-bot-4{
  margin-bottom: 4px;
}

.custom-primary-btn{
  background-color: #4472c4 !important;
  font-size: $font-size-app !important;
}

.dark-edition .btn.btn-primary{
  background-color: #007bff;
  border-color: #007bff;
  &:hover{
    background-color: #007bff;
    border-color: #007bff;
  }

  &:active{
    background-color: #007bff;
    border-color: #007bff;
  }
}

.btn-group{
  margin: 0px;
}

.custom-btn{
  padding: 4px 11px 5px 10px !important;
  margin-right: 5px !important;
  border-radius: 3px !important;
}

.dark-edition .btn.btn-warning{
  background-color: #17a2b8;
  border-color: #17a2b8;
  &:hover{
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
}

.custom-table{
  font-size: $font-size-app !important;
  thead{
    tr{
      th{
        background-color: #4472c4;
        color: #fff !important;
        border: 1px solid #fff !important;
        font-size: $font-size-app;
      }
    }
  }

  tbody{
    tr:nth-child(odd){
      background-color: #ced4ea;
    }

    tr:nth-child(even){
      background-color: #e8ebf5;
    }
    
    td{
      border: 1px solid #fff !important;
      color: #333 !important;
      padding: 0px 8px !important;
      a{
        color: #333;
      }
    }
  }


}

#ui-datepicker-div{
  z-index: 99999 !important;
}

.width-20{
  width: 30% !important;
  display: inline-block !important;
  text-align: right;
}

.width-75:parent{
  width: 75% !important;
}

.main-panel>.content {
  padding-top: 10px !important;
  padding-right: 2px !important;
}

hr {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.tr-green{
  color: #438644 !important;
}

.tr-red{
  color: #ea3c53 !important;
}


/*CLIENTS PAGE */
#logout-form{
  display: none !important;
}

#div-filter{
  text-align: right !important;
}

#button-filter{
  margin-right: 14%;
}

#client-modal-header{
  padding-top:0px;
}

.blue{
  color:blue;
}
